.priority-label {
  font-family: 'Bree Serif';
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  margin-top: 10px;
}

.adding-task-list {
  padding-left: 10px;
}

.no-edit-task-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-edited-image {
  height: 200px;
}

@media screen and (min-width: 768px) {
  .no-edited-image {
    height: 360px;
  }
}

.start-edit {
  font-family: 'Bree Serif';
  font-size: 24px;
  color: #616e7c;
}
